SQLALCHEMY_DATABASE_URI = 'mysql://root:ists@localhost/bank'
SQLALCHEMY_ECHO = False
SECRET_KEY = 'changeme'
DEBUG = False
ERROR_LOG = '[PATH TO ERRORLOG]'
LOG_OUTPUT = 'stdout|file'
SESSION_TIMEOUT = 45
RECAPTCHA_ENABLED = True
RECAPTCHA_SITE_KEY = ""
RECAPTCHA_SECRET_KEY = ""
